@import "../../../css/Variables.scss";

.footer_container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;

  p {
    display: inline;
    color: $active;
  }
}
