$darkestBG: rgb(46, 28, 11);
$darkBG: rgb(121, 83, 50);
$gradientBG: linear-gradient(#503313, #000000);
$lightText: rgb(240, 237, 220);
$active: rgb(125, 212, 44);
$transparent: rgba(0, 0, 0, 0);
$semitransparent: rgba(0, 0, 0, 0.5);
$lighttransparent: rgba(0, 0, 0, 0.2);
$shadow: rgb(9, 9, 9);
